ion-toolbar {
    --background: #012D5E
}

ion-searchbar {
    --background: #ffffff;
    --color: #012D5E;
    --icon-color: #012D5E;
    --clear-button-color: #012D5E;
}

ion-input {
    --color: #ffffff;
    --placeholder-color: #ffffff;
}

ion-checkbox {
    --checkbox-background-checked: #012D5E;
    --border-color-checked: #012D5E;
    --checkmark-color: #CAEF23;
    --checkmark-width: 5%;
}

.allegatoUpperIcons {
    color: #ffffff;
    width: 2.5em;
    height: 2.5em;
}

.item {
    --color: #ffffff;
}

.allegatiTitle {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: xx-large;
    color: white;
}

.back {
    --background: #012D5E;
    color: #ffffff;
}

.allegatiContent {
    --ion-background-color: #012D5E
}

.mainDiv {
    position: relative;
}

.userInput {
    padding-left: 12%;
    padding-right: 17%;
}

.titolo {
    padding-top: 5%;
    color: #CAEF23;
    text-align: left;
}

#buttons {
    padding-top: 5%; 
    padding-bottom: 5%;
    text-align: center;
}

.backButtons {
    top: 5%;
    position: absolute;
}


.eliminaAButton {
    margin-top:20%;
    --background: #012D5E;
    color: #ffffff;
    width: 2.5em;
    height: 2.5em;
}


.eliminaAButtons {
    margin-right: 3%;
}

.allegatoUpperIcons {
    color: #ffffff;
    width: 2.5em;
    height: 2.5em;
}

.present-alert {
    margin-left: 3%;
}

.creaButton {
    position: relative;
    display: flex;
    justify-content: center;
    --color: #012D5E;
    --background: #CAEF23;
    --background-activated: #ffffff;
}

.buttonDiv {
    padding-top: 1%;
    width: 70%;
    margin: auto;
}

.modalUpperButtons {
    --color: #ffffff;
}

.modalTitle {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #CAEF23;
}

.radio {
    --color-checked: #CAEF23;
}
